<h2>Settings</h2>
<script>
 window.user = {
    name: 'Sam Smith',
    role: 'Administrator',
    email: 'test@test.com'
 };
</script>

<app-root></app-root>

@section Styles {
    <link rel="stylesheet" href="/Views/Settings/index.css" />
}

@section Scripts {
    <script src="/Views/Settings/index.js" type="module"></script>
}
