<h2>Settings</h2>
<script>
 window.user = {
    name: 'Sam Smith',
    role: 'Administrator'
 };
</script>

<app-root></app-root>

@section Scripts {
    <script src="/Views/Settings/index.js" type="module"></script>
}
