<h2>Home</h2>
<script>
 window.user = {
    name: 'Sam Smith',
    role: 'Administrator'
 };
</script>

<app-root></app-root>

@section Scripts {
    <script src="/Views/Home/index.js" type="module"></script>
}